#header{
    height: 20%;
    min-height: 100px;
    width: 100%;
    background-color: rgb(54, 54, 61); 
    border-bottom: 1px solid rgb(90, 1, 1);
}

#logo{
    margin-left: 7%;
    width: 30%;
    font-size: 150%;
    float: left;
    margin-top: 2.4%;  
}

#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
}

#brand{
    display: block;
    margin: 0px;    
    color: white;
}

.nav{      
    margin-right: 4%;    
    list-style: none;        
}

.nav-item {
    margin-top:2.3% ;
    float: right;
    font-size: 1.25em; 
    padding: 2.5px 15px;
    color: rgb(245, 240, 240);
    text-transform: capitalize;    
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: rgb(13, 13, 14); 
    text-decoration: none;
    cursor: pointer;  
    -webkit-transition: font-size .2s ease;
    -moz-transition: font-size .2s ease;
    -o-transition: font-size .2s ease;
    transition: font-size .2s ease;
    margin-left: 10px;
    margin-right: 20px; 
}

.nav-item:hover {
    color:rgb(26, 24, 24);
    background-color: white;
    font-size:1.45em; 
    border: 1px solid rgb(87, 1, 1);     
}
.nav img{
    float: right;   
    display: block;   
    height: 60px;
    margin-top: 15px;
    border-radius: 30px;
    border: 1px solid  rgb(87, 3, 3), 
}
