.App-quiz {
  font-family: sans-serif;
	text-align: center;
  color: #f1f2f6;
  background-image: url(../images/fondo1.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 87vh;
}

.App-quiz h1, h3{
  padding: 20px;  
  margin-top: 0px; 
}

.options1 {
  display: grid;
  font-size: 30px;
  font-weight: 900; ;
  border: 2px solid rgb(253, 250, 250);
  background-color: rgba(0, 0, 0, 0.5); 

  padding: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
/* .options1:hover{
  font-size: 0.8em;
  color: blue;
} */

.optquiz{
  cursor: pointer;
}

.selected1 {  
  background-image: url(../images/fp3.jpg);
  background-size: inherit;
  color: rgb(3, 31, 31);  
}
  
.container-quiz1{
  text-align: center;
  font-size: 1.6em;
}

.li-quiz{
  padding: 10px;
  font-size: 30px;
  font-weight: 900;
  /* background-color: rgb(145, 60, 60); */
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.next-quiz{
  margin-top:2.3% ;
    
    font-size: 1.2em; 
    padding: 2.5px 15px;
    color: rgb(83, 78, 78);
    text-transform: capitalize;    
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: black; 
    text-decoration: none;
    cursor: pointer;  
    -webkit-transition: font-size .2s ease;
    -moz-transition: font-size .2s ease;
    -o-transition: font-size .2s ease;
    transition: font-size .2s ease;
    margin-left:auto;
    margin-right: auto; 

}
.next-quiz:hover {
  color:rgb(24, 10, 153);
  font-size:1.3em; 
  border: 1px solid rgb(24, 10, 153);     
}

.result{
  background-color: rgba(0, 0, 0, 0.5); 
height: 87vh;
}
